<div class="footer">
    <div class="footer-logo">
        <h1 class="logo">
            <span>C</span><span>A</span><span>R</span><span class="accent-o">O</span>
        </h1>  
        <a href="/impressum" class="impressum-link">Impressum</a>
    </div>  
    <p class="copy">&copy; Caroline Willers 2024</p>
    <div class="footer-icons"> 
        <a href="https://www.github.com/" target="_blank"><img src="/assets/icons/github.png" alt="github Icon"></a> 
        <a href="#contact" target="_blank"><img src="/assets/icons/email.png" alt="Email Icon"></a>
        <a href="https://www.linkedin.com/in/carolin-willers-7b1b3b1b1/" target="_blank"><img src="/assets/icons/linkedin.png" alt="LinkedIn Icon"></a>
    </div>
</div>
