<section >

<div class="footer">
    <div class="footer-logo">
        <h1 class="logo">
            <span>C</span><span>A</span><span>R</span><span class="accent-o">O</span>
        </h1>  
        <a href="/impressum" class="impressum-link">Impressum</a>
    </div>  
    <p class="copy">&copy; Caroline Willers 2024</p>
    <div class="footer-icons"> 
        <a href="https://github.com/CaroWillers/portfolio" target="_blank">
            <img src="/assets/icons/github.png" alt="github Icon">
        </a> 
        <a href="mailto:contact@caro-willers.com?subject=Hi%20Caro&body=I%20would%20like%20to%20discuss%20a%20project%20with%20you.">
            <img src="assets/icons/email.png" alt="Email Icon">
        </a>  
        <a href="https://www.linkedin.com/in/caro-willers-marketing-specialist/" target="_blank">
            <img src="/assets/icons/linkedin.png" alt="LinkedIn Icon">
        </a>
    </div>
</div>
</section>
