@import '../../styles.scss';

.hero {  
    color: #fff; 
    position: relative;
    height: 100vh;  
    width: 100%; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.hero-container {
    position: absolute;
    top: 20px;
    display: flex;
    align-items: space-around;
    gap: 40px;
    width: 100%;
}

.profile-picture {
    position: relative;  
    width: 500px;   
    height: 600px;
    object-fit: cover;
}

.background-picture {
    position: absolute;
    object-fit: contain;
    z-index: 1;  
}

.background-swosh {
    position: absolute;
    width: 100%;
    top: 150px;
    z-index: -1;
}

.profile-img {
    position: absolute; 
    width:850px;
    height: auto;
    object-fit: cover;
    z-index: 2;  
}
 

.hero-text { 
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 80px 80px 80px;  
    grid-template-areas: 
        "eins zwei"
        "eins drei"
        ". fünf"; 
    gap: 0; 
 
}

.item-1 {  
    grid-area: eins; 
    writing-mode: vertical-rl; 
    transform: rotate(180deg); 
    font-size: calc(3vw + 20px);
    color: $white;     
    display: flex; 
}

.item-2, .item-3 {
    grid-column: 2 / 3;  
    width: 100%;   
    text-align: center;   
}

.item-2 h1 {
    font-size: calc(2vw + 30px);   
    font-weight: 600;
    color: $white;
    margin: 0;
    
}

.item-3 h2 {   
    font-size: calc(1vw + 20px);   
    font-weight: 600;
    color: $purple;
    margin: 0;
    letter-spacing: 2px; 
}

.item-2 {
    grid-area: zwei; 
    align-items: center;
    display: block;
}


.item-3 {
    grid-area: drei; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Positioniert den Inhalt unten */
    align-items: center; /* Zentriert den Inhalt horizontal */
    height: 100%; /* Füllt den gesamten Container vertikal aus */
    width: 100%; /* Stellt sicher, dass das Element die gesamte Breite des Containers einnimmt */
    transform: scaleY(1.2); 
    padding: 0;
}

.item-5 {
    grid-area: fünf; 
    justify-self: center;
    margin-top: 40px;
}

.reference-icons { 
    display: flex;
    align-items: center; 
    gap: 30px; 
    position: absolute;
    bottom: 80px;
    z-index: 1;

    &::before, span {
        content: '';
        display: inline-block; 
        width: 20%; 
        top: 50%;   
        height: 4px;
        background-color: $purple; 
    }
    span {
        background: #fff;
    }

    a {
        cursor: pointer;
        text-decoration: none;  
        color: $white;    
        display: flex;
        align-items: center;
 
        img {
            width: 30px;  
            height: auto;
            transition: transform 0.3s ease;
        }
        &:hover img {
            transform: scale(1.2); 
        }
    }

    .contact-link { 
        width: 500px;
        cursor: pointer;
        text-decoration: none;
        color: $white;
        font-size: 24px;
        transition: color 0.3s ease; 

        &:hover {
            color: $purple !important;
            transition: transform 0.3s ease;
        }
    }
}

.scroll-down {
    position: absolute;
    right: 60px;
    bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;   
    
    .arrow-down {
        writing-mode: vertical-rl;  
        font-size: 24px;
        color: $white;   
    }
    .arrow {
        font-size: 32px;  
        color: white;
    }
}