@import "../../styles.scss";

/* Base Styles */
.hero {
  color: white;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

/* Hero Container */
.hero-container {
  @include flexbox(null, space-between, center);
  width: 100%;
  height: 100%;
  max-height: 1100px;
  gap: 120px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

/* Profile Picture and Shadow */
.profile-picture {
  @include size(50%, null);
  @include flexbox(null, center, center);
  position: relative;
}

.profile-shadow,
.profile-photo {
  position: absolute;
  @include size(100%, 100%);
  z-index: -1;
}

.profile-shadow img {
  width: 150%;
  object-fit: cover;
  @include image-transform(-12%, -50%);
}

.profile-photo img {
  width: 160%;
  object-fit: cover;
  @include image-transform(-16%, -70%);
}

/* Standard Hero Text Container */
.hero-text-container {
  @include size(50%);
  @include flexbox(column, center, center);
  position: absolute;
  top: 150px;
  right: 60px;
  transform: translateX(100px);

  &.animate {
    animation: slideIn 1.5s ease-out forwards;

  }
}
/* Startposition für alle Text-Items */
.item-1,
.item-2,
.item-3,
.item-5 {
  opacity: 0;
}

/* Spezifische Anpassung für .item-1 (vertikale Animation statt horizontale) */
.item-1 {
  grid-area: eins;
  writing-mode: vertical-rl;
  transform: rotate(180deg) translateY(-100px); // Startposition von oben nach unten
  font-weight: 400;
  color: $white;
}

/* Standard Startposition für die anderen Items */
.item-2,
.item-3,
.item-5 {
  transform: translateX(100px);
}

/* Animationen für .animate-Klasse */
.hero-text-container.animate .item-1 {
  animation: slideInVertical 1.5s ease-out 0.2s forwards;
}

.hero-text-container.animate .item-2 {
  animation: slideIn 1.5s ease-out 0.3s forwards;
}

.hero-text-container.animate .item-3 {
  animation: slideIn 1.5s ease-out 0.4s forwards;
}

.hero-text-container.animate .item-5 {
  animation: slideIn 1.5s ease-out 0.5s forwards;
}
/* Keyframes Slide-In Animations */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInVertical {
  from {
    opacity: 0;
    transform: rotate(180deg) translateY(-100px);
  }
  to {
    opacity: 1;
    transform: rotate(180deg) translateY(0);
  }
}

/* Hero Text Items */
.item-1 {
  grid-area: eins;
  writing-mode: vertical-rl;
  transform: rotate(180deg) translateY(-100px);
  font-weight: 400;
  color: $white;
}

.hero-text {
  position: relative;
  display: grid;
  @include hero-text-grid(55px 620px, 95px 80px 150px);
  @include text-size(64px, 82px, 52px);
  justify-items: center;
  align-items: center;
  z-index: 3;
  gap: 0;
}

.item-1 {
  grid-area: eins;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: 400;
  color: $white;
}

.item-2 {
  grid-area: zwei;
  font-weight: 700;
  color: $white;
}

.item-3 {
  grid-area: drei;
  transform: scaleY(1.2);
  font-weight: 400;
  color: $purple;
  letter-spacing: 2px;
}

.item-5 {
  grid-area: fünf;
}

/* Swosh Section */
.swosh {
  position: absolute;
  top: 350px;
  @include size(100%);
  z-index: -1;
  overflow: hidden;
}

.swosh img {
  @include size(100%);
  object-fit: cover;
}

/* Reference Icons */
.reference-icons {
  @include flexbox(row, center, center);
  position: absolute;
  width: 100%;
  bottom: 150px;
  gap: 40px;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    height: 4px;
    background-color: $purple;
    width: calc(20% - 10px);
    z-index: -1;
    transform: translateY(-50%);
  }

  a {
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    color: $white;
    @include flexbox(row, flex-start, center);

    img {
      width: 40px;
      height: auto;
      transition: transform 0.3s ease;
    }

    &:hover img {
      transform: scale(1.2);
    }
  }
}

/* Contact Link */
.contact-link {
  @include size(500px);
  cursor: pointer;
  text-decoration: none;
  color: $white;
  font-size: 24px;
  transition: color 0.3s ease;

  &:hover {
    color: $purple !important;
  }
}

/* Scroll Down Section */
.scroll-down {
  position: absolute;
  bottom: 150px;
  right: 100px;
  @include flexbox(column, flex-end, center);
  z-index: 2;
}

.text-and-arrow {
  @include flexbox(column, center, center);
}

.arrow-down {
  writing-mode: vertical-rl;
  font-size: 24px;
  color: $white;
  text-align: center;
}

.arrow {
  font-size: 32px;
  color: white;
}

/* Media Queries */
@media (min-width: 1025px) and (max-width: 1268px) {
  .hero-text {
    top: 100px;
    @include hero-text-grid(60px 500px, 75px 60px 140px);
    @include text-size(55px, 67px, 42px, null);
  }

  .reference-icons {
    &::before {
      width: calc(20% - 50px);
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero-container {
    @include flexbox(column, center, center);
    gap: 0;
    width: 100%;
  }

  .profile-picture {
    overflow: hidden;
    @include size(100%, 100%);
  }

  .profile-photo,
  .profile-shadow {
    position: absolute;
    @include size(100%, 100%);
    z-index: -1;
  }

  .profile-shadow img {
    width: 120%;
    object-fit: cover;
    @include image-transform(-6%, 2%);
  }

  .profile-photo img {
    width: 120%;
    object-fit: cover;
    @include image-transform(-10%, 0%);
  }

  .hero-text-container {
    @include flexbox(column, center, center);
    @include size(100%);
    position: static !important;
  }

  .hero-text {
    @include hero-text-grid(50px 600px, 85px 60px 160px);
    @include text-size(60px, 80px, 50px, null);
  }

  .reference-icons {
    bottom: 40px !important;
    &::before {
      width: calc(20% - 120px) !important;
    }

    a img {
      width: 40px !important;
    }
  }

  .swosh {
    top: 380px;
    overflow: hidden;
  }

  .scroll-down {
    display: none;
  }
}

@media (max-width: 870px) {
  .contact-link {
    display: none !important;
  }
  .reference-icons {
    &::before {
      width: calc(40% - 120px) !important;
    }
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .hero-container {
    @include flexbox(column, center, center);
    gap: 150px;
  }

  .profile-picture {
    @include size(100%, 100%);
    max-height: 500px !important;
    margin-top: -100px;
    overflow: hidden;
  }

  .profile-photo,
  .profile-shadow {
    position: absolute;
    @include size(100%, 100%);
    z-index: -1;
  }

  .profile-shadow img {
    width: 120%;
    object-fit: cover;
    @include image-transform(-6%, 2%);
  }

  .profile-photo img {
    width: 120%;
    object-fit: cover;
    @include image-transform(-10%, 0%);
  }
  .hero-text-container {
    @include flexbox(column, center, center);
    @include size(100%);
    position: static !important;
  }

  .hero-text {
    @include hero-text-grid(50px 500px, 75px 60px 140px);
    @include text-size(55px, 67px, 42px, null);
  }
  .reference-icons {
    bottom: 30px !important;
    a img {
      width: 40px;
    }
  }
  .swosh {
    top: 270px;
  }
  .scroll-down {
    display: none;
  }
}

@media (min-width: 420px) and (max-width: 576px) {
  .hero-container {
    @include flexbox(column, center, center);
    gap: 0;
  }

  .profile-picture {
    @include size(100%, 100%);
    max-height: 500px;
    margin-top: -250px;
  }

  .profile-photo,
  .profile-shadow {
    position: absolute;
    @include size(100%, 100%);
    z-index: -1;
  }

  .profile-shadow img {
    width: 120%;
    object-fit: cover;
    @include image-transform(-6%, 2%);
  }

  .profile-photo img {
    width: 120%;
    object-fit: cover;
    @include image-transform(-10%, 0%);
  }
  .hero-text-container {
    @include flexbox(column, center, center);
    @include size(100%);
    position: static !important;
  }

  .hero-text {
    @include hero-text-grid(30px 330px, 50px 53px 115px);
    @include text-size(36px, 40px, 24px, null);
  }

  .swosh {
    top: 280px;
  }
  .scroll-down,
  .contact-link {
    display: none !important;
  }

  .reference-icons {
    bottom: 20px !important;
    a img {
      width: 30px;
    }
  }
}

@media (max-width: 420px) {
  .hero-container {
    @include flexbox(column, center, center);
    gap: 0;
    max-height: 700px;
  }
  .hero-text-container {
    @include flexbox(column, center, center);
    @include size(100%);
    position: static !important;
  }

  .hero-text {
    @include hero-text-grid(40px 300px, 40px 40px 115px);
    @include text-size(32px, 40px, 24px, null);
  }

  .profile-picture {
    @include size(100%, 100%);
    max-height: 450px;
  }

  .profile-photo,
  .profile-shadow {
    @include size(80%);
  }

  .profile-shadow img,
  .profile-photo img {
    @include size(150%, auto);
    object-fit: cover;
  }

  .profile-shadow img {
    transform: translateX(-8%) translateY(2%);
  }

  .profile-photo img {
    transform: translateX(-15%) translateY(0%);
  }

  .swosh {
    top: 280px;
  }

  .scroll-down,
  .contact-link {
    display: none !important;
  }

  .reference-icons {
    bottom: 20px;
    &::before {
      width: calc(20% - 10px) !important;
    }

    a img {
      width: 30px;
    }
  }
}

/*iphone 14Pro */
@media (width: 430px) and (height: 932px) {
  .profile-picture {
    max-height: 500px;
    margin-top: -200px;
  }
  .profile-photo,
  .profile-shadow {
    @include size(100%);
  }
  .swosh {
    top: 300px;
  }
  .reference-icons {
    bottom: 80px !important ;
  }
}

/*iphoe XR */
@media (width: 414px) and (height: 896px) {
  .profile-picture {
    max-height: 500px;
  }
  .swosh {
    top: 300px;
  }
  .reference-icons {
    bottom: 80px !important;
  }
}

/*iphone 6/7/8 */
@media (width: 375px) and (height: 667px) {
  .profile-picture {
    max-height: 380px;
    margin-top: -50px;
  }
  .swosh {
    top: 230px;
  }
  .reference-icons {
    bottom: 10px !important;
  }
}

/*Galaxy S9*/
@media (width: 320px) and (height: 658px) {
  .profile-picture {
    max-height: 380px;
    margin-top: -50px;
  }
  .swosh {
    top: 230px;
  }
  .reference-icons {
    bottom: 10px !important;
  }
}

/*pixel 7 */
@media (width: 412px) and (height: 915px) {
  .reference-icons {
    bottom: 80px !important;
  }
}
@media (max-width: 320px)   {
  .hero-text {
    @include hero-text-grid(40px 250px, 40px 40px 115px);
    @include text-size(30px, 34px, 19px, null);
  }
}
