@import "../../styles.scss";

/* Base Styles */
.hero {
  color: white;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* Hero Container */
.hero-container {
  @include flexbox(null, space-between, center);
  max-width: 1440px;
  width: 100%;
  height: 100%;
  max-height: 1100px;
  gap: 120px;
  box-sizing: border-box;
  overflow: visible;
  position: relative;
}

/* Profile Picture and Shadow */
.profile-picture {
  @include size(50%, null);
  @include flexbox(null, center, center);
  position: relative;
  overflow: visible;
}

.profile-shadow,
.profile-photo {
  position: absolute;
  @include size(100%, 100%);
  z-index: -1;
}

.profile-shadow img {
  width: 850px;
  object-fit: cover;
  @include image-transform(-15%, -60%);
}

.profile-photo img {
  width: 850px;
  object-fit: cover;
  @include image-transform(-15%, -80%);
}

/* Standard Hero Text Container */
.hero-text-container {
  @include size(50%);
  @include flexbox(column, center, center);
  position: absolute;
  top: 130px;
  right: 130px;
  transform: translateX(100px);

  &.animate {
    animation: slideIn 1.5s ease-out forwards;
  }
}
/* Startposition für alle Text-Items */
.item-1,
.item-2,
.item-3,
.item-5 {
  opacity: 0;
}

/* Spezifische Anpassung für .item-1 (vertikale Animation statt horizontale) */
.item-1 {
  grid-area: eins;
  writing-mode: vertical-rl;
  transform: rotate(180deg) translateY(-100px); // Startposition von oben nach unten
  font-weight: 400;
  color: $white;
}

/* Standard Startposition für die anderen Items */
.item-2,
.item-3,
.item-5 {
  transform: translateX(100px);
}

/* Animationen für .animate-Klasse */
.hero-text-container.animate .item-1 {
  animation: slideInVertical 1.5s ease-out 0.2s forwards;
}

.hero-text-container.animate .item-2 {
  animation: slideIn 1.5s ease-out 0.3s forwards;
}

.hero-text-container.animate .item-3 {
  animation: slideIn 1.5s ease-out 0.4s forwards;
}

.hero-text-container.animate .item-5 {
  animation: slideIn 1.5s ease-out 0.5s forwards;
}
/* Keyframes Slide-In Animations */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInVertical {
  from {
    opacity: 0;
    transform: rotate(180deg) translateY(-100px);
  }
  to {
    opacity: 1;
    transform: rotate(180deg) translateY(0);
  }
}

/* Hero Text Items */
.item-1 {
  grid-area: eins;
  writing-mode: vertical-rl;
  transform: rotate(180deg) translateY(-100px);
  font-weight: 400;
  color: $white;
}

.hero-text {
  position: relative;
  display: grid;
  @include hero-text-grid(65px 500px, 65px 55px 120px);
  @include text-size(50px, 68px, 42px, null, 32px);
  justify-items: center;
  align-items: center;
  z-index: 3;
  gap: 0;
}

.item-1 {
  grid-area: eins;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: 400;
  color: $white;
}

.item-2 {
  grid-area: zwei;
  font-weight: 700;
  color: $white;
}

.item-3 {
  grid-area: drei;
  transform: scaleY(1.2);
  font-weight: 400;
  color: $purple;
  letter-spacing: 2px;
}

.item-5 {
  grid-area: fünf;
}

/* Swosh Section */
.swosh {
  position: absolute;
  top: 110px;
  @include size(100%);
  z-index: -1;
  overflow: hidden;
}

.swosh img {
  @include size(100%);
  object-fit: cover;
}

/* Reference Icons */
.reference-icons {
  max-width: 1440px;
  @include flexbox(row, center, center);
  position: absolute;
  width: 100%;
  bottom: 150px;
  gap: 40px;
  z-index: 2;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    left: -40px;
    height: 4px;
    background-color: $purple;
    width: calc(100% - 1120px);
    z-index: -1;
    transform: translateY(-50%);
  }

  a {
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    color: $white;
    @include flexbox(row, flex-start, center);

    img {
      width: 40px;
      height: auto;
      transition: transform 0.3s ease;
    }

    &:hover img {
      transform: scale(1.2);
    }
  }
}

/* Contact Link */
.contact-link {
  @include size(500px);
  cursor: pointer;
  text-decoration: none;
  color: $white;
  font-size: 24px;
  transition: color 0.3s ease;

  &:hover {
    color: $purple !important;
  }
}

/* Scroll Down Section */
.scroll-down {
  position: absolute;
  bottom: 150px;
  right: 100px;
  @include flexbox(column, flex-end, center);
  z-index: 2;
}

.text-and-arrow {
  @include flexbox(column, center, center);
}

.arrow-down {
  writing-mode: vertical-rl;
  font-size: 24px;
  color: $white;
  text-align: center;
}

.arrow {
  font-size: 32px;
  color: white;
}

/* Media Queries */
@media (min-height: 1024px) {
  .profile-shadow img {
    max-width: 950px !important;
    @include image-transform(-15%, -65%);
  }

  .profile-photo img {
    max-width: 950px !important;
    @include image-transform(-15%, -85%);
  }
  .swosh {
    top: 70px;
  }
}

@media (max-height: 1024px) {
  .profile-shadow img,
  .profile-photo img {
    max-width: 800px;
  }
}

@media (max-height: 860px) {
  .hero-text {
    @include hero-text-grid(60px 400px, 70px 60px 120px);
    @include text-size(48px, 55px, 33px, null);
  }
  .profile-shadow img {
    max-width: 700px !important;
    @include image-transform(-15%, -55%);
  }

  .profile-photo img {
    max-width: 700px !important;
    @include image-transform(-15%, -75%);
  }

  .swosh {
    top: 170px !important;
  }
}

@media (min-width: 1950px) {
  .profile-shadow img {
    width: 1050px;
    object-fit: cover;
    @include image-transform(-15%, -50%);
  }

  .profile-photo img {
    width: 1050px;
    object-fit: cover;
    @include image-transform(-15%, -70%);
  }
  .hero-text-container {
    top: 180px;
  }
  .swosh {
    top: 10px !important;
  }
}

@media (min-width: 1450px) {
  .swosh {
    top: 30px;
  }
}
@media (min-width: 1250px) {
  .swosh {
    top: 60px;
  }
}

@media (min-width: 1025px) and (max-width: 1268px) {
  .hero-text-container {
    top: 90px;
    right: 100px;
  }

  .hero-text {
    @include hero-text-grid(60px 400px, 70px 60px 120px);
    @include text-size(48px, 55px, 33px, null);
  }

  .reference-icons {
    &::before {
      width: 15vw;
    }
  }
  .swosh {
    top: 125px;
  }
}

@media (max-height: 910px) and (min-width: 769px) and (max-width: 1024px) {
}

@media (max-height: 770px) and (min-width: 769px) and (max-width: 1024px) {

  .hero-text-container {
    top: 450px !important;
  }
  .hero-text {
    top: 35px !important;
  }
  .reference-icons {
    bottom: -160px !important;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero-container {
    @include flexbox(column, center, center);
    gap: 0 !important;
    width: 100%;
    min-height: 975px;
  }

  .profile-picture {
    overflow: hidden;
    @include size(100%, 100%);
  }

  .profile-photo,
  .profile-shadow {
    position: absolute;
    @include size(100%, 100%);
    z-index: -1;
  }

  .profile-shadow img {
    width: 100%;
    object-fit: cover;
    @include image-transform(13%, 2%);
  }

  .profile-photo img {
    width: 100%;
    object-fit: cover;
    @include image-transform(6%, 2%);
  }

  .hero-text-container {
    @include flexbox(column, center, center);
    @include size(100%);
    top: 600px;
    right: 0;
  }

  .hero-text {
    @include hero-text-grid(50px 600px, 85px 60px 160px);
    @include text-size(60px, 80px, 50px, null);
  }

  .reference-icons {
    bottom: -150px !important;

    &::before {
      width: calc(20% - 120px) !important;
    }

    a img {
      width: 40px !important;
    }
  }

  .swosh {
    top: 250px;
    overflow: hidden;
  }

  .scroll-down {
    display: none;
  }
}

@media (max-width: 870px) {
  .contact-link {
    display: none !important;
  }
  .reference-icons {
    &::before {
      width: calc(40% - 120px) !important;
    }
  }
}

@media (max-height: 650px) and (min-width: 577px) and (max-width: 768px) {
  .hero-text {
    top: 67px !important;
  }
  .reference-icons {
    bottom: -60px !important;
    a img {
      width: 40px;
    }
  }
  .swosh {
    top: 180px;
  }
  .scroll-down {
    display: none;
  }
  .reference-icons {
    bottom: -100px !important;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .hero-container {
    @include flexbox(column, center, center);
    gap: 0 !important;
    width: 100%;
    position: static !important;
  }

  .profile-picture {
    @include size(100%, 100%);
    overflow: hidden !important;
  }

  .profile-photo,
  .profile-shadow {
    position: absolute;
    @include size(100%, 100%);
    z-index: -1;
  }

  .profile-shadow img {
    width: 90%;
    object-fit: cover;
    @include image-transform(0%, 0%);
  }

  .profile-photo img {
    width: 90%;
    object-fit: cover;
    @include image-transform(0%, 0%);
  }
  .hero-text-container {
    @include flexbox(column, center, center);
    @include size(100%);
    position: static !important;
    margin-top: -240px;
  }

  .hero-text {
    @include hero-text-grid(50px 500px, 75px 60px 140px);
    @include text-size(55px, 67px, 42px, null);
    top: -145px;
  }
  .reference-icons {
    bottom: 30px !important;
    a img {
      width: 40px;
    }
  }
  .swosh {
    top: 180px;
  }
  .scroll-down {
    display: none;
  }
}

@media (min-width: 420px) and (max-width: 576px) {
  .hero-text-container {
    @include flexbox(column, center, center);
    @include size(100%);
    right: 0;
    top: 400px;
  }
  .hero-text {
    @include hero-text-grid(40px 300px, 40px 40px 115px);
    @include text-size(32px, 40px, 24px, null, 20px);
  }

  .profile-picture {
    @include size(100%, 100%);
    overflow: hidden;
  }

  .profile-photo,
  .profile-shadow {
    position: absolute;
    @include size(100%, 100%);
    z-index: -1;
  }

  .profile-shadow img {
    width: 90%;
    object-fit: cover;
    @include image-transform(0%, 0%);
  }

  .profile-photo img {
    width: 90%;
    object-fit: cover;
    @include image-transform(0%, 0%);
  }

  .swosh {
    top: 135px;
  }
  .scroll-down,
  .contact-link {
    display: none !important;
  }
}

@media (max-width: 420px) {
  .hero-container {
    @include flexbox(column, center, center);
    gap: 0;
  }
  .hero-text-container {
    @include flexbox(column, center, center);
    @include size(100%);
    right: 0;
    top: 450px;
  }

  .hero-text {
    @include hero-text-grid(40px 300px, 40px 40px 115px);
    @include text-size(32px, 40px, 24px, null, 20px);
  }

  .profile-picture {
    @include size(100%, 100%);
    top: 20px;
  }

  .profile-photo,
  .profile-shadow {
    @include size(100%);
    height: 100%;
  }

  .profile-shadow img,
  .profile-photo img {
    @include size(120%, auto);
    object-fit: cover;
  }

  .profile-shadow img {
    transform: translateX(-5%) translateY(2%);
  }

  .profile-photo img {
    transform: translateX(-5%) translateY(0%);
  }

  .swosh {
    top: 196px;
  }

  .scroll-down,
  .contact-link {
    display: none !important;
  }

  .reference-icons {
    bottom: 20px;
    &::before {
      width: calc(20% - 10px) !important;
    }

    a img {
      width: 30px;
    }
  }
}

/*iphone 14Pro */
@media (width: 430px) and (height: 932px) {
  .swosh {
    top: 130px;
  }
  .reference-icons {
    bottom: 80px !important ;
  }
  .item-5 {
    margin-left: -30px;
  }
}

/*iphoe XR */
@media (width: 414px) and (height: 896px) {
  .swosh {
    top: 150px;
  }
  .reference-icons {
    bottom: 80px !important;
  }
}

/*iphone 6/7/8 */
@media (width: 375px) and (height: 667px) {
  .hero-text-container {
    top: 300px;
  }
  .hero-text {
    @include hero-text-grid(40px 250px, 40px 40px 115px);
    @include text-size(30px, 34px, 19px, null);
  }

  .profile-picture {
    margin-top: 10px;
  }
  .item-5 {
    margin-left: -30px;
  }
  .swosh {
    top: 150px;
  }
  .reference-icons {
    bottom: 10px !important;
  }
}

/*Galaxy S9*/
@media (width: 320px) and (height: 658px) {
  .hero-text-container {
    top: 300px;
  }
  .item-5 {
    margin-left: -30px;
  }
  .swosh {
    top: 130px;
  }
  .reference-icons {
    bottom: 10px !important;
  }
  .hero-text {
    @include hero-text-grid(40px 250px, 40px 40px 115px);
    @include text-size(30px, 34px, 19px, null);
  }
}

/*pixel 7 */
@media (width: 412px) and (height: 915px) {
  .reference-icons {
    bottom: 80px !important;
  }
}

@media (min-width: 280px) and (max-width: 375px) {
  .hero-text {
    @include hero-text-grid(40px 250px, 40px 40px 115px);
    @include text-size(30px, 34px, 19px, null);
  }
}

@media (width: 360px) and (height: 740px) {
  .hero-text-container {
    top: 340px;
  }
  .item-5 {
    margin-left: -30px;
  }
}
