@import "../../styles.scss";

/* Navbar */
.hero-nav {
  width: 100%;
  height: 120px; 
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 100px;
  box-sizing: border-box;
  background-color: $bgrNearlyBlack;
  z-index: 1000;
  margin: 0 auto;
}

.navbar-container {
  max-width: 1440px !important; 
  height: 120px;
  @include flex-center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0; 
  box-sizing: border-box;
  background-color: $bgrNearlyBlack;
  z-index: 1000;
  margin: 0 auto;
}
.hero-nav-list {
  color: white;
  cursor: pointer;
  list-style: none;
  display: flex;
  gap: 40px;
  font-size: 23px;
  font-weight: 300;
}

.hero-nav-list a {
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: $green;
  }

  &:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: $purple;
    transition: width 0.3s ease-in-out;
  }

  &.active {
    color: $green;
  }
  &:not(.active) {
    color: #fff;  
  }
}

.logo {
  cursor: pointer;
  text-decoration: none;
  width: 250px; 
  font-size: 44px;
  color: $white;
  margin: 15px;
  font-weight: 400;

  .accent-o {
    color: $white;
    position: relative;
  }

  .accent-o::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color: $green;
    border-radius: 50%;
  }
}

.h1 {
  font-size: calc(4.5vw + 40px);
  font-weight: 400;
  color: $white;
}

/* Language Switcher */
.language-switcher {
  cursor: pointer;
  margin-left: auto;
  font-size: 23px;
  color: white;

  a {
    text-decoration: none;
    color: inherit;
    margin: 0 5px;

    &.active {
      color: $green;
    }
  }

  a:hover {
    text-decoration: underline;
  }
}

// overlay burger menu//
.burger-menu {
  display: none;
  cursor: pointer;
}

.overlay {
  font-weight: 300;
  font-size: 28px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($bgrNearlyBlack, 0.8);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
  position: relative;
}

.overlay .logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.close-icon {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

.overlay-nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.overlay-nav-list li {
  margin: 20px 0;
}

.overlay-nav-list a {
  color: white;
  font-size: 28px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: $green;
  }
  &:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: $purple;
    transition: width 0.3s ease-in-out;
  }
}

// Media Queries  //
@media (max-width: 1000px) {

 
  .hero-nav-list {
    display: none;
  }

  .burger-menu {
    display: block;
    position: sticky;
  }

  .overlay {
    display: flex;
  }
}

@media (max-width: 820px) {
  .hero-nav {
    justify-content: space-between;
    padding: 0;
  }
  .logo {
    margin: 20px;
    font-size: 35px;
    padding-left: 30px;
  }
  .burger-menu {
    margin-right: 50px;
  }
}

@media (max-width: 430px) {
  .hero-nav {
    justify-content: space-between;
  }
  .logo {
    margin: 0;
    font-size: 35px;
  }
  .burger-menu {
    margin-right: 30px;
  }
  .burger-menu img {
    width: 70%;
    margin-top: 10px;
  }
}

@media (max-width: 375px) {
  .hero-nav {
    padding: 0;

    .logo {
      margin: 0;
      font-size: 35px;
    }
    .burger-menu {
      margin-right: 20px;
    }
    .burger-menu img {
      width: 70%;
      margin-top: 10px;
    }
  }
}


