<section id="contact" class="contact-section">
  <h1 class="h1" pAnimateOnScroll>{{ 'contact.title' | translate }}</h1> 
  <div class="contact-container">
    <div class="contact-text">
      <div>
        <p class="question">{{ 'contact.question' | translate }}</p>
        <p>{{ 'contact.intro' | translate }}</p>
      </div>
    </div>

    <div class="contact-form">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" novalidate>
        <div class="form-group">
          <label for="name" class="sr-only">{{ 'contact.name_placeholder' | translate }}</label>
          <input [(ngModel)]="contactData.name" 
                 type="text" 
                 id="name" 
                 name="name" 
                 [placeholder]="'contact.name_placeholder' | translate" 
                 required
                 (focus)="resetError('name', contactForm)"
                 [ngClass]="{
                   'valid-input': contactForm?.controls?.['name']?.valid && contactForm?.controls?.['name']?.touched,
                   'invalid-input': contactForm?.controls?.['name']?.invalid && contactForm?.controls?.['name']?.touched
                 }">
          <span class="error" *ngIf="contactForm.controls['name']?.invalid && contactForm.controls['name']?.touched">
            Please enter your name
          </span>
        </div>
      
        <div class="form-group">
          <label for="email" class="sr-only">{{ 'contact.email_placeholder' | translate }}</label>
          <input [(ngModel)]="contactData.email" 
                 type="email" 
                 id="email" 
                 name="email" 
                 [placeholder]="'contact.email_placeholder' | translate" 
                 required 
                 pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                 (focus)="resetError('email', contactForm)"
                 [ngClass]="{
                   'valid-input': contactForm?.controls?.['email']?.valid && contactForm?.controls?.['email']?.touched,
                   'invalid-input': contactForm?.controls?.['email']?.invalid && contactForm?.controls?.['email']?.touched
                 }">
          <span class="error" *ngIf="contactForm.controls['email']?.invalid && contactForm?.controls?.['email']?.touched">
            Please enter a valid email address
          </span>
        </div>
      
        <div class="form-group">
          <label for="message" class="sr-only">{{ 'contact.message_placeholder' | translate }}</label>
          <textarea [(ngModel)]="contactData.message" 
                    id="message" 
                    name="message" 
                    rows="10" 
                    [placeholder]="'contact.message_placeholder' | translate" 
                    required
                    (focus)="resetError('message', contactForm)"
                    [ngClass]="{
                      'valid-input': contactForm?.controls?.['message']?.valid && contactForm?.controls?.['message']?.touched,
                      'invalid-input': contactForm?.controls?.['message']?.invalid && contactForm?.controls?.['message']?.touched
                    }"></textarea>
          <span class="error" *ngIf="contactForm.controls['message']?.invalid && contactForm?.controls?.['message']?.touched">
            Please enter your message
          </span>
        </div>
      
        <div class="form-group checkbox-group">
          <input [(ngModel)]="contactData.privacy" 
                 type="checkbox" 
                 id="privacy" 
                 name="privacy" 
                 (change)="toggleButtonState()">
          <label for="privacy">
            <p>
              {{ 'contact.privacy_policy_text' | translate }}
              <span (click)="showPrivacyPolicy()" class="privacy-link">
                {{ 'contact.privacy_policy_link' | translate }}
              </span>
              {{ 'contact.privacy_policy_text_end' | translate }}
            </p>
          </label>
        </div>
        
        <span class="privacy-error" *ngIf="showPrivacyError(contactForm)">
          Du musst der Datenschutzerklärung zustimmen, um fortzufahren.
        </span>
        
        
        <button type="submit" 
                [disabled]="!isPrivacyChecked"
                [ngClass]="{'btn-grey': !isPrivacyChecked, 'btn-green': isPrivacyChecked}">
          {{ 'contact.send_button' | translate }}
        </button>
      </form>
      <div class="back-to-hero"> 
        <a href="#hero">
            <img class="arrow" src="/assets/icons/arrowupDefault.png" alt="Arrow up">
        </a>
      </div>
    </div>

    <!-- Modales Fenster für die Bestätigung -->
    <div id="confirmationModal" class="modal" [ngClass]="{'show': showModal}">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <p>{{ 'contact.thank_you' | translate }}</p>
      </div>
    </div>    
  </div>
</section>
