@import '../../styles.scss';


.portfolio-section {  
  color: $white;
  position: relative;
  background-image: url('/assets/bgr-img/5_purple-shadow-portfolio.png'), url('/assets/bgr-img/6_green-shadow-portfollio.png');
  background-position: left 0 bottom 395px, right 0 bottom -40px;
  background-size: auto;
  background-repeat: no-repeat;   
  z-index: 1;
  overflow: hidden;
  padding-bottom: 50px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;  
  color: white;
  gap: 80px;
}


.portfolio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
  color: white;
  overflow: hidden; 
}

.portfolio-text p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
  margin-bottom: 50px;
}

.h1 {
  font-size: 90px;
  font-weight: 700;
  color: $white;
  text-align: center;
  position: relative;    
  margin: 0;
  
  &::before, &::after {
    content: ''; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    height: 4px;
    background-color: $purple;
  
  }

  &::before {
    width: 30%;
    left: calc(-35%); 
  }

  &::after {  
    left: 105%;   
    width: calc(100vw - 50%);  
  } 
}
 