@import '../../styles.scss';

.privacy-policy {
    padding: 60px;
    color: white;
    background-color: $bgrNearlyBlack;
    font-weight: 300;
    
    h1, h2 {
        color: $green;
    }
    h3 {
        color: $green; 
    }
}

.go-back-container {
    display: flex; 
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    color: white;
    padding-left: 60px;
    gap: 40px;

    &:hover {
        color: $green;
    }
}

.go-back-btn {
    width: 50px;
    height: 50px; 
    background-color: transparent;
    border-color: white;
    border-radius: 50%;  
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    text-decoration: none;
    z-index: 1000;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

    &:hover  {
        color: $green;  
        border-color: $green; 
    }

    .arrow-up {
        color: white;
        font-size: 24px;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: $green;   
        }
    }
}
