
.bgr-hero-about-me {
    background-image: url('/assets/bgr-img/3_purple-shadow-about-me.png');
    background-position: right -500px bottom 100px;  
    background-size: 900px;  
    background-repeat: no-repeat;    
    position: relative;
    overflow: hidden;
}


.bgr-skills-portfolio { 
    background-image: url('/assets/bgr-img/4_green-shadow-skills-portfolio.png');
    background-position: left -580px top 290px;
    background-size:  950px;
    background-repeat: no-repeat;   
    position: relative;
    z-index: 1;
    padding-top: 100px;
}


@media (max-width: 950px) {
    .bgr-skills-portfolio {
        padding-top: 50px;
        }
    .bgr-hero-about-me {
        background-position: right -650px top 500px;
        background-size: 900px;  
        }
    }


@media (max-width: 768px) {
    .bgr-skills-portfolio {
        padding-top: 0;
        }
    }