
.bgr-hero-about-me{
    background-image: url('/assets/bgr-img/3_purple-shadow-about-me.png');
    background-position: calc(230% - 30px) calc(95% - 145px);
    background-size: 70%;
    background-repeat: no-repeat;   
    position: absoulte;
    left: -50px;
    top: -50px;
    z-index: 1;  
}


.bgr-skills-portfolio { 
    background-image: url('/assets/bgr-img/4_green-shadow-skills-portfolio.png');
    background-position: left -800px bottom -450px; 
    background-size: 80%;
    background-repeat: no-repeat;   
    position: relative;
    z-index: 1;
}


 