@import "../../styles.scss";

.impressum {
  padding: 120px;
  height: 100vh;
  color: white;
  background-color: $bgrNearlyBlack;

  h1,
  h2 {
    color: $green;
  }
}

/*Go back container*/
.go-back-container {
  cursor: pointer;
  padding-left: 120px;
  margin-top: 100px;

  .go-back-link {
    display: flex;
    align-items: center;
  }

  &:hover {
    .go-back-text {
      color: $green;
    }

    .go-back-btn {
      content: url("/assets/icons/arrowupHover.png");
      transform: rotate(-90deg);
    }
  }

  .go-back-text {
    color: white;
    margin-left: 30px;
    text-decoration: none;
    text-align: center;
  }

  .go-back-btn {
    width: 40px;
    transform: rotate(-90deg);
    transition: transform 0.3s;
  }
}

@media (max-width: 768px) { 
  .go-back-container {
    padding-left: 50px;
    margin-top: 20px;
  }
  .impressum {
      padding: 50px;
    }
}

@media (max-width: 430px) {
  .go-back-container {
    padding-left: 30px;
  }
  .impressum {
    padding: 30px;
  }
}