@import '../../styles.scss';

.impressum {
    padding: 60px;
    height: 100vh;
    color: white;
    background-color: $bgrNearlyBlack;
    
    h1, h2 {
        color: $green;
    }
}

.go-back-container { 
    cursor: pointer;
    padding-left: 60px;  
    margin-top: 100px;

    .go-back-link {
        display: flex; 
        align-items: center;  
    }
        
        &:hover {
            .go-back-text {
                color: $green;  
            }
            
            .go-back-btn {
                content: url('/assets/icons/arrowupHover.png'); // Bild bei Hover
                transform: rotate(-90deg);
            }
        }

    .go-back-text {   
        color: white;
        margin-left: 30px;
        text-decoration: none; 
        text-align: center;
         
    }

    .go-back-btn { 
        width: 40px;
        transform: rotate(-90deg);
        transition: transform 0.3s;
    }  
}
