<!-- impressum.component.html -->
<div class="go-back-container">
  <a class="go-back-btn" routerLink="/" aria-label="Zurück">
    <span class="arrow-up">&larr;</span>
  </a>
  <p>Back to startpage</p> 
</div>

<div class="impressum">
    <h1>Site Notice</h1> 
      
    <p>Caroline Willers<br />
      Rorupweg 8<br />
      48161 Munster</p>
      
      <h2>Contact</h2>
      <p>Phone: 015232025356<br />
      E-Mail: carowillers&#64;gmail.com
    </p>
      
      <h2>Person responsible for editorial</h2>
      <p>Caroline Willers</p>
  </div>




 