
    <div class="skills-container">
        <div class="skills-icons">
            <div class="icon-item">
                <img src="assets/icons/html.png" alt="HTML Icon">
                <p>HTML</p>
            </div>
            <div class="icon-item">
                <img src="assets/icons/css.png" alt="CSS Icon">
                <p>CSS</p>
            </div>
            <div class="icon-item">
                <img src="assets/icons/javascript.png" alt="JavaScript Icon">
                <p>JavaScript</p>
            </div>
            <div class="icon-item">
                <img src="assets/icons/ts.png" alt="TypeScript Icon">
                <p>TypeScript</p>
            </div>
            <div class="icon-item">
                <img src="assets/icons/angular.png" alt="Angular Icon">
                <p>Angular</p>
            </div>
            <div class="icon-item">
                <img src="assets/icons/firebase.png" alt="Firebase Icon">
                <p>Firebase</p>
            </div>
            <div class="icon-item">
                <img src="assets/icons/git.png" alt="GIT Icon">
                <p>GIT</p>
            </div>
            <div class="icon-item">
                <img src="assets/icons/api.png" alt="Rest-Api Icon">
                <p>Rest-Api</p>
            </div>
            <div class="icon-item">
                <img src="assets/icons/scrum.png" alt="Scrum Icon">
                <p>Scrum</p>
            </div>
            <div class="icon-item">
                <img src="assets/icons/materialdesign.png" alt="Material Design Icon">
                <p>Material Design</p>
            </div>
            <div class="icon-item">
                <img src="assets/icons/continouslearning.png" alt="Continually Learning Icon">
                <p class="purple-text">Continually Learning</p>
                <div class="popup-content">
                    I am currently continuing my education to become a backend developer.
                </div>
            </div>
        </div>
        <div class="skills-text">
            <h1 class="h1">My skills</h1>
            <p>I have gained experience in building projects with various frontend technologies and concepts.</p>
            <p class="question">
                Which <span class="highlight">skills</span> do you <span class="highlight">need</span>?
            </p>
            <p>Feel free to contact me. I look forward to hearing about your projects. Let's see if we're a great fit to work together.</p>
            <button class="btn-primary-green">Get in touch</button>
        </div>
    </div>

