$green:#70E61C;
$purple: #9747FF;
$white: #FFFFFF;
$black: #000000;  
$bgrNearlyBlack: #151D2F;
$red: #FF4747;

html {
  scroll-padding-top: 120px;   
  scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: $bgrNearlyBlack;
    margin: 0;
    padding: 0;  
    box-sizing: border-box; 
}

.logo {
  cursor: pointer;
  width: 150px; 
  font-weight: 600;
  font-size: 48px;
  color: $white;  
  margin: 15px;

  .accent-o {
      color: $white;
      position: relative;
  }

  .accent-o::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      background-color: $green;
      border-radius: 50%;
  }
}

.h1 {
  font-size: 90px;
  font-weight: 700;
  color: $white;
  opacity: 0;  
  transform: translate(-100px, 100px);  
  transition: all 1s ease-out;  
  
  &.p-in {
    opacity: 1;  
    transform: translate(0, 0);  
  }
}


@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Grid Mixin*/
@mixin hero-text-grid($columns, $rows) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  grid-template-areas: 
    "eins zwei"
    "eins drei"
    ". f端nf";
}
 
/* Text-Size Mixin */
@mixin text-size($item1-size, $item2-size, $item3-size, $item5-size: null) {
  .item-1 {
    font-size: $item1-size;
  }
  .item-2 {
    font-size: $item2-size;
  }
  .item-3 {
    font-size: $item3-size;
  }

  @if $item5-size {
    .item-5 {
      font-size: $item5-size;
    }
  }
}


/* Image Transform Mixin */
@mixin image-transform($translateX, $translateY) {
transform: translateX($translateX) translateY($translateY);
}

/* Flexbox Mixin */
@mixin flexbox($flex-direction: column, $justify-content: center, $align-items: center) {
display: flex;
flex-direction: $flex-direction;
justify-content: $justify-content;
align-items: $align-items;
}


/* width and height Mixin */
@mixin size($width, $height: auto) {
width: $width;
height: $height;
}


/* Global Style */
.btn-primary-green {
    @include flex-center;
    width: 150px;
    height: 60px;
    background-color: $green;
    color: $white;
    border: none;
    border-radius: 10px;
    font-size: 23px;
    font-weight: 200;
    cursor: pointer;
    transition: 
        background-color 0.3s ease,
        transform 0.3s ease,
        color 0.3s ease; 

    &:hover {
        background-color: $purple; 
        transform: scale(1.1); 
    }
    &:active {
        background-color: $white; 
        color: $black; 
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Breite der Scrollbar */
}

::-webkit-scrollbar-track {
  background: $bgrNearlyBlack; /* Hintergrund der Scrollbar */
  border-radius: 10px; /* Abgerundete Ecken */
}

::-webkit-scrollbar-thumb {
  background-color: $purple; /* Farbe des Scrollbalkens */
  border-radius: 10px; /* Abgerundete Ecken f端r den Balken */
}

::-webkit-scrollbar-thumb:hover {
  background-color: lighten($purple, 10%); /* Hellere Farbe bei Hover */
}

/* Firefox Scrollbar */
* {
  scrollbar-width: thin; /* D端nner Balken */
  scrollbar-color: $purple $bgrNearlyBlack; /* Farbe f端r Balken und Hintergrund */
}

/* poppins-regular - latin */
/* poppins-200 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('assets/fonts/poppins-v21-latin-200.woff2') format('woff2');
}
/* poppins-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/poppins-v21-latin-300.woff2') format('woff2');
} 

/* poppins-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/poppins-v21-latin-500.woff2') format('woff2');
  }
/* poppins-500italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    src: url('assets/fonts/poppins-v21-latin-500italic.woff2') format('woff2');
  }
/* poppins-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/poppins-v21-latin-600.woff2') format('woff2');
  }
/* poppins-600italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    src: url('assets/fonts/poppins-v21-latin-600italic.woff2') format('woff2');
  }
/* poppins-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/poppins-v21-latin-700.woff2') format('woff2');
  }
/* poppins-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/poppins-v21-latin-800.woff2') format('woff2');
  }
/* poppins-800italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 800;
    src: url('assets/fonts/poppins-v21-latin-800italic.woff2') format('woff2');
  }
/* poppins-900 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('assets/fonts/poppins-v21-latin-900.woff2') format('woff2');
  }
/* poppins-900italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 900;
    src: url('assets/fonts/poppins-v21-latin-900italic.woff2') format('woff2');
  }


@media (max-width: 950px) { 
.h1 {
  font-size: 80px; 
  }
}

@media (max-width: 650px) { 
  .h1 {
    font-size: 54px; 
    }
}

@media (max-width: 375px) { 
  .h1 {
    font-size: 32x; 
    }
}