$green:#70E61C;
$purple: #9747FF;
$white: #FFFFFF;
$black: #000000;  
$bgrNearlyBlack: #141D2F;

html {
  scroll-padding-top: 120px;   
  scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: $bgrNearlyBlack;
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Global Style */
.btn-primary-green {
    @include flex-center;
    width: 150px;
    height: 60px;
    background-color: $green;
    color: $white;
    border: none;
    border-radius: 10px;
    font-size: 23px;
    font-weight: 200;
    cursor: pointer;
    transition: 
        background-color 0.3s ease,
        transform 0.3s ease,
        color 0.3s ease; 

    &:hover {
        background-color: $purple; 
        transform: scale(1.1); 
    }
    &:active {
        background-color: $white; 
        color: $black; 
    }
}

.logo {
  cursor: pointer;
  width: 300px; 
  font-weight: 600;
  font-size: 48px;
  color: $white; 

  .accent-o {
      color: $white;
      position: relative;
  }

  .accent-o::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      background-color: $green;
      border-radius: 50%;
  }
}

.h1 {
  font-size: calc(4.5vw + 40px);   
  font-weight: 650;
  color: $white; 
}

/* poppins-regular - latin */
/* poppins-200 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('assets/fonts/poppins-v21-latin-200.woff2') format('woff2');
}
/* poppins-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/poppins-v21-latin-300.woff2') format('woff2');
} 

/* poppins-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/poppins-v21-latin-500.woff2') format('woff2');
  }
/* poppins-500italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    src: url('assets/fonts/poppins-v21-latin-500italic.woff2') format('woff2');
  }
/* poppins-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/poppins-v21-latin-600.woff2') format('woff2');
  }
/* poppins-600italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    src: url('assets/fonts/poppins-v21-latin-600italic.woff2') format('woff2');
  }
/* poppins-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/poppins-v21-latin-700.woff2') format('woff2');
  }
/* poppins-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/poppins-v21-latin-800.woff2') format('woff2');
  }
/* poppins-800italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 800;
    src: url('assets/fonts/poppins-v21-latin-800italic.woff2') format('woff2');
  }
/* poppins-900 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('assets/fonts/poppins-v21-latin-900.woff2') format('woff2');
  }
/* poppins-900italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 900;
    src: url('assets/fonts/poppins-v21-latin-900italic.woff2') format('woff2');
  }
