@import '../../../styles.scss';

.project {
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    padding: 0 60px 0 60px;
    color: white;
    margin: 0 auto; 
    gap: 50px;

    &.image-left {
        flex-direction: row;   
        justify-content: center;
        .project-image {
          margin-right: 100px;
        }
      }
    
    &.image-right {
      flex-direction: row-reverse;  
      justify-content: center;
        .project-image {
          margin-left: 100px;
        }
      }

    .project-text {
        display: flex;
        flex-direction: column;
        width: 550px;  
     
        &.text-left {
          align-items: flex-end;  
          text-align: right;
        }
    
        &.text-right {
          align-items: flex-start;  
          text-align: left;
        }
    }

    .project-image {
        width: 550px;    
        
        img {
          width: 550px;
          object-fit: cover;
        }
      }
      .project-text, .project-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 550px;
      }
   
    h3 {
    color: $purple;
    font-size: 32px;
    font-weight: 650;
    margin: 0;
    }

    .technologies {
    display: flex; 
    font-size: 24px;
    font-weight: 300;
    color: $green;
    }

    p {
    font-size: 16px;
    font-weight: 200; 
    margin: 10px 0;
    }
  
    .project-buttons {
      display: flex;
      gap: 80px;
      margin-top: 20px;
      
      .btn-liveTest, .btn-github {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 60px;
        border-radius: 10px;
        font-size: 23px;
        font-weight: 200;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
     
        
        &.btn-liveTest {
            background-color: $purple;
            color: $white;
          
            &:hover {
                background-color: $green;
                transform: scale(1.1);
              }
  
          &:active {
            background-color: #ffffff;
            color: #000000;
          }
        }
  
        &.btn-github {
            background-color: black;
            color: $white;
            border: 1px solid $green;
    
            &:hover {
              background-color: $green;
              transform: scale(1.1);
            }
        }
      }
    }
  }
  