<div class="project" [class.image-left]="imageOnLeft" [class.image-right]="!imageOnLeft">
  <div class="project-text" [ngClass]="{ 'text-left': imageOnLeft, 'text-right': !imageOnLeft }">
    <h3>{{ title }}</h3>
    <p class="technologies">
      <ng-container *ngFor="let tech of technologies; let last = last">
        {{ tech }}<ng-container *ngIf="!last"> | </ng-container>
      </ng-container>
    </p>    
    <p>{{ description }}</p> 
    <div class="project-buttons">
      <a class="btn-liveTest" [href]="liveTestLink" target="_blank"
         (mouseover)="isDaBubbleProject() ? showPopup($event) : null" 
         (mouseout)="isDaBubbleProject() ? hidePopup($event) : null">Live Test</a>
      <div *ngIf="isDaBubbleProject()" class="popup-content">
        This project is still in progress. Stay tuned for updates!
      </div>
      <a class="btn-github" [href]="githubLink" target="_blank"
         (mouseover)="isDaBubbleProject() ? showPopup($event) : null" 
         (mouseout)="isDaBubbleProject() ? hidePopup($event) : null">GitHub</a>
      <div *ngIf="isDaBubbleProject()" class="popup-content">
        This project is still in progress. Stay tuned for updates!
      </div>
    </div>    
  </div>
  <div class="project-image">
    <img [src]="imageUrl" alt="{{ title }}" />
  </div>
</div>